<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog edit</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header th:replace="~{partials/header}"></header>
</div>
<h1>Edit Blog</h1>
<form class="input-form" action="#" th:action="@{'/blogEdit/'+${id}}" th:object="${blog}" method="post">
    <p>Title: <input type="text" th:field="*{title}" class="create-input"/></p>
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-color">Title error</div>

    <p>ImageUrl: <input type="text" th:field="*{imageUrl}" class="create-input"/></p>
    <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-color">ImageUrl error</div>

    <p>Text:<textarea name="content" type="text" th:field="*{text}" class="text-input" required></textarea></p>
    <div th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="text-color">Text error</div>
    <p>
        <button type="submit" class="btn btn-secondary" value="submit">Submit</button>
        <button type="reset" class="btn btn-secondary" value="reset">Reset?</button>

    </p>
    <a th:href="@{/blogs}">
        <div>BACK</div>
    </a>
</form>

<div class="container my-5">
    <footer th:replace="~{partials/footer}"></footer>


</body>
</html>