<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <header th:replace="~{partials/header}"></header>
</div>
<h1>New Comment</h1>


<form class="input-form" th:action="@{/blogs/blog/{id}/comment (id=${blog.id})}" th:object="${comment}" method="POST">
    <p>Name: <input type="text" th:field="*{name}" class="create-input"/></p>
    <p>Content:<textarea name="content" type="text" th:field="*{content}" class="text-input" required></textarea></p>
    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </p>

</form>

<a th:href="@{/blogs}">
    <div>BACK</div>
</a>


</body>

<div class="container my-5">
    <footer th:replace="~{partials/footer}"></footer>

</div>
</html>



<!--<div class="container comments-section">-->
<!--    <ul class="comments">-->
<!--        <li class="comment-li text-center" data-th-each="comment : ${comments}">-->
<!--            <div class="comment-container" id="${comment.id}">-->
<!--                <div class="comment-owner-details text-left">-->
<!--                    <h6 class="text-muted" data-th-text="${comment.name}"></h6>-->
<!--                </div>-->
<!--                <p class="text-muted" data-th-text="${comment.content}">comment content</p>-->
<!--                <form data-th-action="@{/comments/{id}(id=${comment.id})}" data-th-method="delete">-->
<!--                    <button class="btn btn-danger" data-th-onclick="submit">delete</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->


