<!--<form data-th-action="@{/comments}" data-th-object="${comment}" data-th-method="POST">-->
<!--    <input-->
<!--            type="text"-->
<!--            placeholder="name"-->
<!--            data-th-field="*{name}"-->
<!--            class="form-control comment-form-input"-->
<!--            required-->
<!--    />-->
<!--    <textarea-->
<!--            placeholder="enter your comment"-->
<!--            data-th-field="*{content}"-->
<!--            class="form-control comment-form-input">-->
<!--                </textarea>-->
<!--    <small class="form-text text-muted">Up to 500 symbols</small>-->
<!--    <button type="submit" class="btn btn-primary">create comment</button>-->
<!--</form>-->