<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="'Blog: ' + ${blog.title}"></title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="divas" th:text="${blog.id}"></div>
<div th:text="${blog.title}"></div>
<div th:text="${blog.type}"></div>
<p></p>
<label for="comment">Palikite komentara:</label>
<input type="text" id="comment" name="comment"></input>
<button type="button">ADD</button>
<p></p>
<a th:href="@{/blogs}">
  <div>BACK</div>
</a>
</body>
</html>